
#designCalculator{
  
    margin: 30px auto;
    width: 210px;
    height: 240px;
    background: #90a9cc;
    border: 10px solid gray;
}


#buttomSpace{
    margin-bottom: 10px;
}

#SpaceLeft{
    margin-left: 5px;
}


#designCalculator{
  
    margin: 30px auto;
    width: 200px;
    height: 220px;
    background: #90a9cc;
}


.buttomSpace{
    margin-bottom: 10px;
}

.form-control{
    margin-top: 10px;
}


